// GENERAL
$fontColor: #fff;
$bkgColor: #000;

// PADDING 10PX
$pd10: 10px;

// FONT
$fontFamily: 'Roboto', sans-serif; 
$fontSize: 16px;

// CONTAINER
$containerWidth: 1170px;

// HEADER
$headerHeight: 560px;

// NAVBARTOP
$navbarTopHeight: 100px;