// GENERAL
$white: #fff;
$black: #000;

// FONT
$fontFamily: 'Roboto', sans-serif; 
$fontSize: 16px;

// CONTAINER
$containerWidth: 1170px;

// HEADER
$headerHeight: 560px;

// NAVBARTOP
$navbarTopHeight: 100px;