.tools {
    width: 100%;
    height: 450px;
    text-align: center;
    padding: 2rem;
    h2 {
        font-size: 2rem;
    }
    .effects {
        width: 1600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        @each $name in mirror , navigator , kaleidoscope , woodcut , apply_lightning {
            .#{$name} {
                width: 280px;
                height: 280px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    &:hover {
                        transform: scale(1.2);
                        transition: 0.4s;
                    }
                }
                &::after {
                    content: '#{$name}';
                    position: absolute;
                    color: $fontColor;
                    bottom: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    text-transform: capitalize;
                }            
            }
        }
    }
}