#app .navbarTop .navProducts {
    display: flex;
    justify-content: flex-start;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        li {
            padding: 1rem;
            a {
            color: $fontColor;
            margin-top: 1rem;
            }
            &:hover {
                background-color: $fontColor;
                a {
                    color: $bkgColor;
                }
            }
            &:first-child:hover {
                background-color: $bkgColor;
                padding: 1rem;
                a {
                    color: $fontColor;
                }
            }
        }
    }
}

