header .navbarBottom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li {
            padding: 1rem;
            cursor: pointer;
            a {
            color: $bkgColor;
            }
            &:hover {
                background-color: $fontColor;
                a {
                    font-weight: 700;
                }
            }
        }
    }
}
