#app .navbarTop .navContacts {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
        li a {
            color: $fontColor;
        opacity: 0.5;
        padding: 1rem;
        font-size: 0.8rem;
        i {
            color: #009cff;
            font-size: 0.8rem;
            padding-right: 0.5rem;
        }
        &:hover {
            opacity: 1;
            text-decoration: underline;
            transition: 0.4s;
        }
        }
    }
}
