.ideal {
    width: 100%;
    height: 700px;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        font-size: 2rem;
        margin: 1rem;
    }
    a {
        text-decoration: none;
        color: #fff;
        i {
            border: 2px solid grey;
            color: grey;
            padding: 0.3rem;
            border-radius: 50%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .screen {
        background-color: $bkgColor;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 900px;
        height: 510px;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
        img {
            width: 800px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        i {
            position: absolute;
            top: 50%;
            left: 45%;
            display: inline-block;
            transform: translateX(-50%);
            transform: translateY(-50%);
            color: $fontColor;
            border: 2px solid $fontColor;
            padding: 1rem;
            font-size: 3rem;
            border-radius: 50%;
            z-index: 3;
            &:hover {
                cursor: pointer;
                color: lightgrey;
                border-color: lightgrey;
            }
        }
    }
}