// VARIABLES
@import "partials/variables";

// UTILITIES
@import "partials/utilities";

// COMMON
@import "partials/common";

// UTILITY
@import "partials/container";

// FIXEDBKG
@import "partials/fixedBkg";

// FIXEDBKG2
@import "partials/fixedBkg2";

// HEADER
@import "partials/header/navbarTop";
@import "partials/header/header";

// NAVBARTOP NAVCONTACTS
@import "partials/header/navContacts";

// NAVBARTOP NAVPRODUCTS
@import "partials/header/navProducts";

// HERO
@import "partials/header/hero";

// NAVBARBOTTOM
@import "partials/header/navbarBottom";

// SECTION IDEAL
@import "partials/section-ideal/ideal";

// SECTION DISTINCTIVE
@import "partials/section-distinctive/distinctive";

// SECTION FLEXIBLE
@import "partials/section-flexible/flexible";

// SECTION TOOLS
@import "partials/section-tools/tools";

// SECTION BRUSHES
@import "partials/section-brushes/brushes";

// SECTION CONTACTS
@import "partials/section-contacts/contacts";



